
.serch-box {
    background-color: aquamarine;
    height: 300px;
    border-radius: 0px 0px 6rem 6rem / 0px 0px 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.serch {
}

input {
    margin-bottom: 1.5rem;
    height: 2.5rem;
    width: 30rem;


    font-size: 1.5rem;
    padding: 0.25rem;


    color: white;
    font-weight: 600;

    flex: 1;
  }